// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #4d19d2;
$secondary: #26a69a;
$accent: #ca79c6;

// background-color: #ca79c6;

$dark: #1e1e2d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$colors: (facebook: #4267b2,
  instagram: #833ab4,
  offwhite-blue: #f6f8fa,
  offwhite-dark-blue: #7f8299,
  dark-blue: #1a1a27,
  dark-move: #494b74,
  dark-move-2: #9899ac,
  dark-blue-2: #4c4e6f,
  dark-blue-3: #5f6278,
  dark-blue-4: #151521,
  dark-blue-5: #1b1b28,
  dark-blue-6: #92929f,
  dark-blue-7: #a2a5b7,
  primary-2: #2f97de,
);
